.hidden {
    display: none;
}

body {
    border: 10px solid red;
    /* background-image: src('./welp.gif'); */
    background-repeat: repeat;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    width: 80%;
    /* height: 1000px; */
    color: white;
    font-size: 25px;

}


#allBusiness {
    align-content: center;
    justify-content: center;
    background-color: #280000;
    border:darkred 3px groove;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    cursor: grabbing;
    font-size: 25px;
}

h1{
  background-color: #280000;
  margin:0 auto 0 auto;
}

#singlebusiness{
  align-content: center;
  justify-content: center;
  background-color: #280000;
  border:darkred 3px groove;
  margin: 0 auto;
  margin-top: 50px;
  width: 800px;
  height: 1000px;
  cursor: grabbing;
  font-size: 25px;
}
p:hover {
    background-color: black;
    /* width: 200px;
    height: 10px; */
}

#business-info{
  align-content: center;
  justify-content: center;
  background-color: #280000;
  border:darkred 3px groove;
  margin: 0 auto;
  width: 800px;
  height: 600px;
  cursor: grabbing;
  font-size: 25px;
}

#login-content, #signup-content, #home-content {
  align-content: center;
  justify-content: center;
  background-color: #280000;
  border:darkred 3px groove;
  margin: 10px auto;
  width: 800px;
  height: 600px;
  cursor: grabbing;
  font-size: 25px;
}



.nav-link {
    margin: 1.0em;
    padding: 10px;
    font: 20px Copperplate;
    background-color: #ed1b24;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid darkred;
    padding: 10px 20px;

}

.nav-link:hover {
  cursor: crosshair;
}

.nav {
    align-items: center;
    border-bottom: 2px solid red;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .loginButton:hover {
    color: white;
    background-color: #ed1b24;
  }
  .signUpButton:hover {
    color: white;
    background-color: #ed1b24;
  }
  input[type="submit"]:hover {
    color: white;
    background-color: #ed1b24;
  }
  .signUpButton,
  .loginButton {
    width: 400px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #23408e;
    color: white;
  }

  input {
    font-size: 1.5rem;
    color: darkred;

  }
  input[type="submit"] {
    font-size: 1.2rem;
    border: black;
    border: 2px solid #DE7C5A;
    padding: 15px;
    cursor: crosshair;
    background-color: #DE7C5A;
    color: white;
    font-family: monospace;
  }

  .loginButton:hover {
    color: white;
    background-color: #ed1b24;
  }
  .signUpButton:hover {
    color: white;
    background-color: #ed1b24;
  }
